/* Base Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: small;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 98.2%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b582e;
  z-index: 1000;
}
.logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: #f1d21f;
  text-decoration: none;
}
.navItems {
  display: flex;
  gap: 2rem;
}
.navLink {
  text-decoration: none;
  color: #f1d21f;
  font-weight: 500;
}
.hireButton {
  border: 2px solid #f1d21f;
  color: #f1d21f;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px 40px;
  flex-wrap: wrap;
}
.greetings {
  font-size: 4rem;
  border: 4px dashed #4c705c;
  box-sizing: border-box;
  box-shadow: #4c705c;
  color: #f1d21f;
  width: 350px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: -1rem;
}
.heroText {
  font-size: 5rem;
  max-width: 900px;
  margin-top: 1rem;
  text-align: left;
}
.viewButtons {
  display: flex;
  gap: 5rem;
}
.viewButtons div{
  display: flex;
  gap: 2rem;
  justify-content: start;
  width: 100%;
}

.projectsButton,
.resumeButton {
  font-size: 1rem;  
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.projectsButton {
  font-weight: 500;
  background-color: #55c588;
}
.projectsButton a{
  text-decoration: none;
  color: #0b0c10;
  font-weight: 700;
}

.projectsButton:hover{
  transform: scale(1.05);
}
.resumeButton {
 font-weight: 700;
   color: #55c588;
}

.Interact{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.Interact p{
  font-size: 1rem;
  text-align: center;
  margin-bottom: -2rem;
}
.Interact img{
  padding-inline: 1rem;
  position: relative;
  left: 4rem;
  width: 40px;
  height: 40px;
 
}
.heroImage {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 2rem;
}

/* About Section */
.about {
  padding: 80px 40px;
}
.aboutText {
  color: #0b582e;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.aboutCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.journeyCard {
  width: 600px;
  font-size: 1.5rem;
}
.journeyCard p{
  text-align: left;
}
.subTitle {
  font-size: 1.5rem;
}
.certCard {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.cert,
.experience {
  background-color: #ceebdb;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}
.logos {
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 50px;
  border: 4px solid #0b582e ;
  background-color: white;
}
.textBlock {
  background-color: #ceebdb;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.5px;
  border-radius:20px ;
  width: 12%;
  position: relative;
  left: -3rem;
  transition: transform 0.2s ease-in-out;
}
.textBlock:hover{
  background-color: #0b582e;
  color: #f1d21f;
  transform:translateY(-8px);
}
.tools-tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  margin-bottom: 2rem;
}
.toolsTitle{
  font-size: 1.5rem;
  text-align: left;
}
.tools{
  display: flex;
  justify-content: end;
}
.toolName{
  font-size: 1rem;
}
.toolsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.percent {
  font-weight: 700;
  font-size: 1.2rem;
  color: #867308;
}
.tools,
.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.stack {
  background-color: transparent;
  border: 2px solid #0b582e;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 700;
}
.stack:hover {
  background-color: #0b582e;
  color: #f1d21f;
}

/* Services */
.services {
  padding: 80px 100px;
}
.serviceTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #0b582e;
}
.servicesCard {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}
.card{
 border: 4px solid #bfc9c8;
  padding: 10px;
  height: 42vh;
  border-radius: 30px;
}
.card p {
  text-align: left;
}
.card:hover{
  border: 4px solid #55c588;
}
.cardImage {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 27vh;
}
.moreBtn{
  cursor: pointer;
  background-color: #55c588;
  border: none;
  color: #1f2833;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px; 
}
.moreBtn:hover{
  background-color: #0b582e;
  color: #f1d21f;
}

/* Projects */
.projects {
  padding: 80px 40px;
  display: grid;
  justify-content: center;
  gap: 3rem;
}
.projects h2{
  font-size: 2.5rem;
  text-align: center;
  color: #0b582e;
}
.projectsTitle {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: -0.5rem;

}
.projectsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column:auto;
  gap: 1.5rem;
  padding-inline: 80px;
}
.viewBtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
  width: 100%;
}
.demoBtn{
  background-color: transparent;
  border: 2px solid #0b582e;
  border-radius: 10px;
  width: 50%;
  font-weight: 700;
  color: #0b582e;
  padding: 10px;
}
.demoBtn:hover{
  background-color: #0b582e;
  color: #f1d21f;
  font-weight: 700;
}
.codeBtn{
  background-color: #0b582e;
  color: #f1d21f;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
}
.codeBtn:hover{
  background-color: transparent;
  color: #0b582e;
  border: 2px solid #0b582e;
  font-weight: 700;
}
.projects button{
  display: flex;
  justify-content: center;
  width: 100%;
}
.viewProjects {
  font-weight: 700;
   padding-inline: -500px;
}

/* Contacts */
.contacts {
  display: flex;
  justify-content: start;
  margin-inline-end: 20rem;
  margin-bottom: 5rem;
}

.contactsCard {
  flex: 1;
  min-width: 280px;
}
.contactsCard h2, p{
  text-align: center;
  color: #0b582e;
}
.contactsCard ul{
  gap: 2rem;
  display: grid;
  justify-content: center;
}
.contactsCard li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #ceebdb;
 padding: 1rem;
}
.contactsImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.layout {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
form {
  border: 4px solid #55c588;
  border-radius: 10px;
  padding: 1rem;
}
.formDetails {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.label span{
  width: 150%;
}

.formInput,
.TextArea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #66fc8c;
  box-sizing: border-box;
  width: 200%;
}
.TextArea {
  resize: none;
  min-height: 100px;
  width: 178%;
}
.contactForm button{
  padding: 1rem;
  width: 87%;
  font-weight: 700;
  border-radius: 10px;
 margin-left: 2rem;
 background-color: #ceebdb;
 color: #0b582e;
 border: transparent;
 font-size: 1.2rem;
}
.contactForm button:hover{
  background-color: #0b582e;
  color: #f1d21f;
}

/* reusable styles */
.ItemCard {
  background-color: #ceebdb;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 30px;
}
  .ItemCard:hover{
    border: 2px solid #66fc8c;
  }

.ItemTitle {
  font-size: 24px;
}
.ItemImage {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  border-radius: 20px;
}
.label {
  display: grid;
  width: 35%;
}
.formInput {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #55c588;
  background-color: #ceebdb;
  color: #25344f;
}
.contactsImage {
  width: 30px;
  height: 30px;
}




/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .title,
  .greetings {
    font-size: 2rem;
  }
  .hero {
    flex-direction: column;
    padding: 60px 20px;
  }
  .aboutCard,
  .contacts {
    flex-direction: column;
    gap: 2rem;
  }
  .formDetails {
    grid-template-columns: 1fr;
  }
  .textareaLabel {
    grid-column: span 1;
  }
}
